*{margin:0;padding:0;}
ul {
    list-style: none;
    margin: 0px;
}
body{
    font-size: 14px;
    font-family:"Helvetica Neue",Helvetica, "microsoft yahei", arial, STHeiTi, sans-serif;
}
a{text-decoration: none}
.el-header, .el-footer {
    background-color: white;
    box-shadow:1px 1px 10px rgb(133, 127, 127);
    color: #333;
    text-align: center;
    line-height: 70px;
    position: relative;
    box-sizing: border-box;
    margin-bottom: 40px;
  }
  
  .el-aside {
    color: #333;
    text-align: center;
    line-height: 200px;
  }
  
  .el-main {
    color: #333;
    text-align: center;
  }
